:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li
{
  list-style: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main
  {
    position: relative;
    background-color: rgb(24, 32, 41, .65);
    z-index: 0;
    padding-left: 4em;
    padding-right: 4em;
    border-bottom: solid 2.5px rgb(215, 200, 200, 0.7);
    border-top: solid 2.5px rgb(215, 200, 200, 0.7);
    border-left: solid 2.5px rgb(215, 200, 200, 0.7);
    border-right: solid 2.5px rgb(215, 200, 200, 0.7);
    padding-bottom: 25em;
    margin-top: -12em;
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
  }

  body
  {
    margin-top: 14em;
    padding: 0;
    position: relative;
  }

  header
  {
    margin-top: 4em;
    padding-top: 2em;
  }

  h1, h2
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(215, 200, 200, 0.88);
  }

  h2
  {
    font-size: 2.5em;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
  }

  h3
  {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 1.7em;
    font-style: italic;
    letter-spacing: 1.2px;
    color: rgb(215, 200, 200, 0.88);
  }

  .skill-tool
  {
    margin-top: -0.95em;
    margin-bottom: 4em;
    font-size: .85em;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: rgb(215, 200, 200, 0.88);
  }

  .wr-combat
  {
    margin-top: 10em;
  }

  .combat-gif
  {
    position: relative;
    width: 400px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 5px 5px black;
    margin-left: 40em;
    top: -12em;
}

  .combat-txt
  {
    position: relative;
    width: 450px;
}

  .water_system
  {
    margin-top: -5em;
  }

  .water-gif
  {
    position: relative;
    width: 400px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 5px 5px black;
    top: -6em;
    margin-right: 42em;
  }

  .water-txt
  {
    position: relative;
    margin-left:40em;
    top: 7em;
    width: 450px;
}

  .nav-buttons
  {
    display: flex;
    position: relative;
    margin-top: 7em;
    margin-left: -2em;
    justify-content: center;
    align-items: center;
    color: rgb(215, 200, 200, 0.88);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-li
  {
    float: left;
    color: rgb(215, 200, 200, 0.88);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
		border-bottom: solid 1px rgb(215, 200, 200, 0.7);
    border-top: solid 1px rgb(215, 200, 200, 0.7);
		text-decoration: none;
		color: inherit;
  }

  .WR_Main
  {
    margin-top: 5em;
  }

  .Ard_Main
  {
    margin-top: 10em;
  }

  .ard-container
  {
    margin-top: 12em;
  }

  .ard-gif
  {
    position: relative;
    width: 400px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 5px 5px black;
    margin-left: 40em;
    top: -12em;
  }

  .ard-txt
  {
    position: relative;
    width: 450px;
  }

  .OA_Main
  {
    margin-top: 7em;
  }

  .oa-container
  {
    margin-top: 6em;
  }

  .oa-img
  {
    position: relative;
    width: 400px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 5px 5px black;
    top: -6em;
    margin-right: 42em;
  }

  .oa-txt
  {
    position: relative;
    margin-left:40em;
    top: 7em;
    width: 450px;
  }

  .about-container
  {
    margin-top: -5.5em;
  }

  .h3_lilJS
  {
    padding-bottom: 1em;
  }

  .span_div
  {
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    border-bottom: solid 1px rgb(215, 200, 200, 0.7); 
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 10px 10px black;
    margin-bottom: 2em;
  }

  .span_img
  {
    height: 400px;
    width: auto;
    margin-top: 7em;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
  }

  .jsGame-main
  {
    margin-top: 7em;
    margin-bottom: 1em;
  }

  .web_main
  {
    margin-top: 7em;
    margin-bottom: 1em;
  }

  /* Form */

	form 
  {
		margin: 0 0 2rem 0;
	}

		form > :last-child 
    {
			margin-bottom: 0;
		}

		form > .fields 
    {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
      justify-content: center;
			width: calc(100% + 0.001rem);
			margin: -1.5rem 0 2rem -1.5rem;
		}

			form > .fields > .field 
      {
				-moz-flex-grow: 0;
				-webkit-flex-grow: 0;
				-ms-flex-grow: 0;
				flex-grow: 0;
				-moz-flex-shrink: 0;
				-webkit-flex-shrink: 0;
				-ms-flex-shrink: 0;
				flex-shrink: 0;
				padding: 1.5rem 0 0 1.5rem;
				width: calc(100% - 1.5rem);
			}

				form > .fields > .field.half 
        {
					width: calc(50% - 0.75rem);
				}

				form > .fields > .field.third 
        {
					width: calc(100%/3 - 0.5rem);
				}

				form > .fields > .field.quarter 
        {
					width: calc(25% - 0.375rem);
				}

		@media screen and (max-width: 480px) 
    {

			form > .fields 
      {
				width: calc(100% + 3rem);
				margin: -1.5rem 0 2rem -1.5rem;
			}

				form > .fields > .field 
        {
					padding: 1.5rem 0 0 1.5rem;
					width: calc(100% - 1.5rem);
				}

					form > .fields > .field.half 
          {
						width: calc(100% - 1.5rem);
					}

					form > .fields > .field.third 
          {
						width: calc(100% - 1.5rem);
					}

					form > .fields > .field.quarter 
          {
						width: calc(100% - 1.5rem);
					}

		}

	label 
  {
		color: rgb(215, 200, 200, 0.9);
		display: block;
		font-size: 0.8rem;
		font-weight: 300;
		letter-spacing: 0.2rem;
		line-height: 1.5;
		margin: 0 0 1rem 0;
		text-transform: uppercase;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea 
  {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: solid 1px #ffffff;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1rem;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		select:invalid,
		textarea:invalid 
    {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		select:focus,
		textarea:focus 
    {
			background: rgba(255, 255, 255, 0.075);
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

    input[type="submit"].submit-btn,
    input[type="reset"].reset-btn
  {
    transition: transform .7s ease;
    padding: 0.62em;
    background-color: rgba(141, 136, 136, 0.8);
  }

    input[type="submit"].submit-btn:focus,
    input[type="reset"].reset-btn:focus
    {
      padding: 0.8em;
      background: rgba(255, 255, 255, 0.075);
    }

    input[type="submit"].submit-btn
    {
      transition: background-color 1.5s ease;
      background-color: rgba(141, 136, 136, 0.8);
    }

    input[type="submit"].submit-btn:hover,
    input[type="reset"].reset-btn:hover 
    {
      transform: scale(1.1);
    }

	select 
  {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23ffffff' /%3E%3C/svg%3E");
		background-size: 1.25rem;
		background-repeat: no-repeat;
		background-position: calc(100% - 1rem) center;
		height: 2.75rem;
		padding-right: 2.75rem;
		text-overflow: ellipsis;
	}

		select option 
    {
			color: rgb(215, 200, 200, 0.7);
			background: #1b1f22;
		}

		select:focus::-ms-value 
    {
			background-color: transparent;
		}

		select::-ms-expand 
    {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select 
  {
		height: 2.75rem;
	}

	textarea 
  {
		padding: 0.75rem 1rem;
	}

	input[type="checkbox"],
	input[type="radio"] 
  {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2rem;
		opacity: 0;
		width: 1rem;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label 
    {
			text-decoration: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			color: #ffffff;
			cursor: pointer;
			display: inline-block;
			font-size: 0.8rem;
			font-weight: 300;
			margin: 0 0 0.5rem 0;
			padding-left: 2.65rem;
			padding-right: 0.75rem;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before 
      {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				text-transform: none !important;
				font-family: 'Font Awesome 5 Free';
				font-weight: 900;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before 
      {
				-moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
				-webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
				-ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
				transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
				border-radius: 4px;
				border: solid 1px #ffffff;
				content: '';
				display: inline-block;
				height: 1.65rem;
				left: 0;
				line-height: 1.65rem;
				position: absolute;
				text-align: center;
				top: -0.15rem;
				width: 1.65rem;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before 
    {
			background: #ffffff !important;
			border-color: #ffffff !important;
			color: #1b1f22;
			content: '\f00c';
		}

		input[type="checkbox"]:focus + label:before,
		input[type="radio"]:focus + label:before 
    {
			background: rgba(255, 255, 255, 0.075);
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

	input[type="checkbox"] + label:before 
  {
		border-radius: 4px;
	}

	input[type="radio"] + label:before 
  {
		border-radius: 100%;
	}

	::-webkit-input-placeholder 
  {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	:-moz-placeholder 
  {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	::-moz-placeholder 
  {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder 
  {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

	.formerize-placeholder 
  {
		color: rgba(255, 255, 255, 0.5) !important;
		opacity: 1.0;
	}

  .linkIcons
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.5em;
  }

  a.icon.brands,
  a.icon.brands:visited,
  a.icon.brands:hover,
  a.icon.brands:active
  {
    color: inherit;
    text-decoration: none;
  }

  #linkedin-icon,
  #github-icon
  {
    transition: transform .7s ease;
  }

  #linkedin-icon:hover,
  #github-icon:hover
  {
    transform: scale(1.2);
  }

  #nav-link 
  {
		border-radius: 5em;
		box-shadow: inset 0 0 0 1px rgb(215, 200, 200, 0.95);
		line-height: 5.25rem;
		text-align: center;
    padding: 1em;
    text-decoration: none;
    color: rgb(215, 200, 200, 0.88);
    transition: all .5s ease-in-out;
	}

  #nav-link:hover
  {
    font-size: 1.12em;
    background-color: rgb(102, 126, 131, .7);
  }

  article
  {
    z-index: 1;
    position: relative;
  }

  #professional_work
  {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 5em;
  }

  #personal_work
  {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 5em;
  }

  #about
  {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 5em;
  }

  #contact
  {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 5em;
  }
