:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main
  {
    position: relative;
    background-color: rgb(24, 32, 41, .65);
    z-index: 0;
    padding-left: 4em;
    padding-right: 4em;
    border-bottom: solid 2.5px rgb(215, 200, 200, 0.7);
    border-top: solid 2.5px rgb(215, 200, 200, 0.7);
    border-left: solid 2.5px rgb(215, 200, 200, 0.7);
    border-right: solid 2.5px rgb(215, 200, 200, 0.7);
    padding-bottom: 25em;
    margin-top: -12em;
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
  }

  body
  {
    margin-top: 14em;
    padding: 0;
    position: relative;
  }

  header
  {
    margin-top: 4em;
    padding-top: 2em;
  }

  h1, h2
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(215, 200, 200, 0.88);
  }

  h2
  {
    font-size: 2.5em;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
  }

  h3
  {
    font-family: fantasy;
    font-weight: 800;
    font-size: 1.7em;
    font-style: italic;
    letter-spacing: 1.2px;
  }

  .wr-combat
  {
    margin-top: 2em;
    margin-bottom: -8em;
  }

  .combat-gif
  {
    position: relative;
    width: 325px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    left: 27em;
    top: -12em;
}

  .combat-txt
  {
    position: relative;
    /* left: -12em; */
    margin-top: 5em;
    width: 450px;
}

  .water_system
  {
    margin-top: 2em;
  }

  .water-gif
  {
    position: relative;
    width: 325px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    top: -15em;
    left: -4em;
  }

  .water-gif02
  {
    position: relative;
  }

  .water-txt
  {
    position: relative;
    left: 25em;
    top: 7em;
    width: 450px;
}

  .nav-buttons
  {
    display: flex;
    position: relative;
    padding: 5em;
    justify-content: center;
    align-items: center;
    float: left;
    color: rgb(215, 200, 200, 0.88);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-li
  {
    float: left;
    color: rgb(215, 200, 200, 0.88);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
		border-bottom: solid 1px rgb(215, 200, 200, 0.7);
    border-top: solid 1px rgb(215, 200, 200, 0.7);
		text-decoration: none;
		color: inherit;
  }

  .WR_Main
  {
    margin-top: 5em;
  }

  .OA_Main
  {
    margin-top: -4em;
  }

  .oa-img
  {
    position: relative;
    width: 350px;
    height: 240px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
  }

  .oa-vid
  {
    position: relative;
    left: 28em;
    margin-top: -10em;
    margin-bottom: 5em;
  }

  .oa-txt
  {
    position: relative;
    left: -0.5em;
    top: 2em;
    width: 450px;
    margin-top: 4em;
  }

  #nav-link 
  {
		border-radius: 5em;
		box-shadow: inset 0 0 0 1px rgb(215, 200, 200, 0.95);
		line-height: 5.25rem;
		text-align: center;
    padding: 1em;
    text-decoration: none;
    color: rgb(215, 200, 200, 0.88);
    transition: all .5s ease-in-out;
	}

  #nav-link:hover
  {
    font-size: 1.12em;
    background-color: rgb(102, 126, 131, .7);
  }

  article
  {
    z-index: 1;
    position: relative;
  }

  #professional_work
  {
    justify-content: center;
    display: grid;
    align-items: center;
    /* margin-top: -4em;
    margin-left: 12em; */
  }

  #personal_work
  {
    justify-content: center;
    display: grid;
    align-items: center;
    /* margin-right: -43em;
    margin-top: -24em; */
  }

  #about
  {
    justify-content: center;
    display: grid;
    align-items: center;
    /* margin-left: -1em;
    margin-top: -24em; */
  }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
