:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main
  {
    position: relative;
    background-color: rgb(24, 32, 41, .65);
    z-index: 0;
    padding-left: 4em;
    padding-right: 4em;
    border-bottom: solid 2.5px rgb(215, 200, 200, 0.7);
    border-top: solid 2.5px rgb(215, 200, 200, 0.7);
    border-left: solid 2.5px rgb(215, 200, 200, 0.7);
    border-right: solid 2.5px rgb(215, 200, 200, 0.7);
    padding-bottom: 25em;
    margin-top: -12em;
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
  }

  body
  {
    margin-top: 14em;
    padding: 0;
    position: relative;
  }

  header
  {
    margin-top: 4em;
    padding-top: 2em;
  }

  h1, h2
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(215, 200, 200, 0.88);
  }

  h2
  {
    font-size: 2.5em;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
  }

  h3
  {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 1.7em;
    font-style: italic;
    letter-spacing: 1.2px;
    color: rgb(215, 200, 200, 0.88);
  }

  .skill-tool
  {
    margin-top: -0.95em;
    margin-bottom: 4em;
    font-size: .85em;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: rgb(215, 200, 200, 0.88);
  }

  .wr-combat
  {
    margin-top: 10em;
  }

  .combat-gif
  {
    position: relative;
    width: 400px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 5px 5px black;
    margin-left: 40em;
    top: -12em;
}

  .combat-txt
  {
    position: relative;
    width: 450px;
}

  .water_system
  {
    margin-top: -5em;
  }

  .water-gif
  {
    position: relative;
    width: 400px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 5px 5px black;
    top: -6em;
    margin-right: 42em;
  }

  .water-txt
  {
    position: relative;
    margin-left:40em;
    top: 7em;
    width: 450px;
}

  .nav-buttons
  {
    display: flex;
    position: relative;
    margin-top: 7em;
    margin-left: -2em;
    justify-content: center;
    align-items: center;
    color: rgb(215, 200, 200, 0.88);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  .nav-li
  {
    float: left;
    color: rgb(215, 200, 200, 0.88);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
		border-bottom: solid 1px rgb(215, 200, 200, 0.7);
    border-top: solid 1px rgb(215, 200, 200, 0.7);
		text-decoration: none;
		color: inherit;
  }

  .WR_Main
  {
    margin-top: 5em;
  }

  .Ard_Main
  {
    margin-top: 10em;
  }

  .ard-container
  {
    margin-top: 12em;
  }

  .ard-gif
  {
    position: relative;
    width: 400px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 5px 5px black;
    margin-left: 40em;
    top: -12em;
  }

  .ard-txt
  {
    position: relative;
    width: 450px;
  }

  .OA_Main
  {
    margin-top: 7em;
  }

  .oa-container
  {
    margin-top: 6em;
  }

  .oa-img
  {
    position: relative;
    width: 400px;
    height: 225px;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 5px 5px black;
    top: -6em;
    margin-right: 42em;
  }

  .oa-txt
  {
    position: relative;
    margin-left:40em;
    top: 7em;
    width: 450px;
  }

  .about-container
  {
    margin-top: -5.5em;
  }

  .h3_lilJS
  {
    padding-bottom: 1em;
  }

  .span_div
  {
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
    border-bottom: solid 1px rgb(215, 200, 200, 0.7); 
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    box-shadow: 10px 10px black;
    margin-bottom: 2em;
  }

  .span_img
  {
    height: 400px;
    width: auto;
    margin-top: 7em;
    border-bottom: solid 1.5px rgb(215, 200, 200, 0.7);
    border-top: solid 1.5px rgb(215, 200, 200, 0.7);
    border-left: solid 1.5px rgb(215, 200, 200, 0.7);
    border-right: solid 1.5px rgb(215, 200, 200, 0.7);
  }

  .jsGame-main
  {
    margin-top: 7em;
    margin-bottom: 1em;
  }

  .web_main
  {
    margin-top: 7em;
    margin-bottom: 1em;
  }

  #nav-link 
  {
		border-radius: 5em;
		box-shadow: inset 0 0 0 1px rgb(215, 200, 200, 0.95);
		line-height: 5.25rem;
		text-align: center;
    padding: 1em;
    text-decoration: none;
    color: rgb(215, 200, 200, 0.88);
    transition: all .5s ease-in-out;
	}

  #nav-link:hover
  {
    font-size: 1.12em;
    background-color: rgb(102, 126, 131, .7);
  }

  article
  {
    z-index: 1;
    position: relative;
  }

  #professional_work
  {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 5em;
  }

  #personal_work
  {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 5em;
  }

  #about
  {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 5em;
  }

  #contact
  {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 5em;
  }